.order{
    // в этом случае лучше использовать svg и вставлять без мексина (но для примера как работает этот мексин с png )
    background-image: url(../../img/procents.svg);
    background-position: bottom;
    padding: 87px 0;
    background-color: var(--accent-color);

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
    &__left {
        padding-left: 60px;
        grid-column: 5 span;
    }
    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        color: var(--light-color);
    }
    
    &__descr {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: var(--light-color);
    }
    &__right {
        padding-right: 60px;
        display: flex;
        justify-content: flex-end;
        grid-column: 7 span;
    }
    &__form {
        max-width: 500px;
    }
}

