.order{
    // в этом случае лучше использовать svg и вставлять без мексина (но для примера как работает этот мексин с png )
    background-image: url(../../img/procents.svg);
    background-position: bottom center;
    background-size: cover;
    padding: 87px 0;
    background-color: var(--accent-color);

    &__container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @include high-tablet {
            display: flex;
            flex-direction: column;
        }
    }
    &__left {
        padding-left: 60px;
        grid-column: 5 span;

        @include high-tablet{
            margin-bottom: 40px;
            padding-left: 0;
            text-align: center;
        }
    }

    &__right {
        padding-right: 60px;
        display: flex;
        justify-content: flex-end;
        grid-column: 7 span;

        @include high-tablet{
            padding-right: 0;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 36px;
        line-height: 130%;
        color: var(--light-color);

        @include high-tablet{
            font-size: 30px;
            line-height: 140%;
            text-align: center;
        }
    }
    &__descr {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: var(--light-color);
    }
   
    &__form {
        max-width: 500px;

        @include high-tablet{
            max-width: unset;
            width: 100%;
        }
    }

    
}
.order__container{
    
}