<header class="header">
  <div class="container-fluid header__container">
      <a href="#" class="logo">
        <img loading='lazy' class="image" src='img/logo.svg' alt="Логотип RoboSchool" width="228" height="48">
      </a>
      <nav title="Главное меню" class="nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#about" class="nav__link" data-scroll>О школе</a></li>
          <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll>Тренеры</a></li>
          <li class="nav__item"><a href="#tariffs" class="nav__link" data-scroll>Стоимость</a></li>
        </ul>
      </nav>
      <a class="phone" href="tel:+1234567890">+1 (234) 567-890</a>
  </div>
</header>
