<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    ROBO SCHOOL
                </h1>
                <p class="hero__descr">
                    Курсы повышения квалификации по робототехнике для педагогов начальной школы
                </p>
                <a href="#tariffs" data-scroll class="hero__link hero__btn btn-reset btn btn--theme-accent ">
                    Записаться на курс
                </a>
            </div>
        </div>
        <div class="hero__image">
            <picture>
              <source srcset="./img/image-1.png" type="image/webp">
              <img loading="lazy" src="./img/image-1.png" class="hero__image-pic" height="917" width="783" alt="Девушка смотрящая в даль">
            </picture>
        </div>
    </div>
</section>