<section class="hero">
    <div class="hero__container container">
        <div class="hero__content">
            <div class="hero__text">
                <h1 class="hero__title">
                    ROBO SCHOOL
                </h1>
                <p class="hero__descr">
                    Курсы повышения квалификации по робототехнике для педагогов начальной школы
                </p>
                <a href="#tariffs" data-scroll class="hero__link hero__btn btn-reset btn btn--theme-accent ">
                    Записаться на курс
                </a>
            </div>
        </div>
        <!-- <div class="hero__image">
            <img src="/img/image-1.png" alt="" class="hero__image-pic" height="918" width="515" aria-hidden="true">
        </div> -->
    </div>
</section>