// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Jost", sans-serif;
  --content-width: 1160px;
  --content-fluid-width: 1790px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  --main-trs: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
  --outline-offset: 2px;
  --outline: 2px dashed currentColor;

  // colors
  --light-color: #fff;
  --accent-color: #D52027;
  --dark-color: #141024;
  --text-color: rgba(#141024, 0.7);
}
